<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./assets/css/style.css" />
    <title>Vue Email-list</title>
  </head>
  <body>
    <body>
        <body>
          <div id="app" class="container">
            <h1>Email List</h1>
            <!-- Display loading message if emailList is empty -->
            <p v-if="email.length === 0">Loading...</p>
            <!-- Display email list if emailList is not empty -->
            <ul v-else>
              <li v-for="emailItem in email" :key="emailItem">{{ emailItem }}</li>
            </ul>
          </div>
        
    <script src="https://unpkg.com/vue@3"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="./assets/js/app.js"></script>
  </body>
</html>
